# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Folkebibliotekernes CMS
logo: "/assets/images/layout/ddf-logo-small.png"
email:
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
minimal_mistakes_skin: default
search: true
search_provider: algolia
algolia:
  application_id: TVP7W0OS24
  index_name: prod_folkebibliotekernes_cms_manual
  search_only_api_key: e8c5920789ad3f6d57903b6edc107af5
  powered_by: true
  nodes_to_index: 'h1,h2,h3,h4,h5,h6,p,blockquote,li'

github: [metadata]

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages


# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

atom_feed:
  hide: true

# Collections
collections:
  manual:
    output: true
    permalink: /:collection/:path/
  audience:
    output: true
    permalink: /:collection/:path/
  category:
    output: true
    permalink: /:collection/:path/
  topic:
    output: true
    permalink: /:collection/:path/

defaults:
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: splash
      author_profile: false
  # _manual
  - scope:
      path: ""
      type: manual
    values:
      layout: single
      toc: true
      toc_label: "Indhold i artiklen"
      read_time: false
      author_profile: false
      share: false
      comments: false
      sidebar:
        title: "Manual"
        nav: "manual"
  # _audience
  - scope:
      path: ""
      type: audience
    values:
      layout: taxonomy-term
      taxonomy-header: "Artikler relevante for rollen"
      read_time: false
      author_profile: false
      share: false
      comments: false
  # _category
  - scope:
      path: ""
      type: category
    values:
      layout: taxonomy-term
      taxonomy-header: "Artikler i kategorien"
      read_time: false
      author_profile: false
      share: false
      comments: false
  # _topic
  - scope:
      path: ""
      type: topic
    values:
      layout: taxonomy-term
      taxonomy-header: "Artikler om emnet"
      read_time: false
      author_profile: false
      share: false
      comments: false

