---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.green {
  color: green;
}

.red {
  color: red;
}

.page__hero--overlay {
  margin-bottom: 1em;
}

.taxonomy_header {
    display: block;
    margin: 0.5rem 0;
    padding: 0.25rem 0;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-size: .75em;
    color: #6f777d;
    text-transform: uppercase;
    border-bottom: 1px solid #f2f3f3;
}

.page__content .feature__item .archive__item-title {
  margin-top: 0.3em;
}

.page__content .feature__item a:not(.btn):hover {
  text-decoration: none;
}

.feature__item a {
  text-decoration: none;
  color: #3d4144;
}

.feature__item a h2{
  text-decoration: underline;
  font-size: 1.1em;
}



figure img, figure iframe, figure .fluid-width-video-wrapper {
  margin-bottom: 0.2em;
}

figure img {
  border: solid;
  border-width: thin;
  border-style: solid;
  border-color: lightgrey;
}

figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-box-align: start;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em 0;

  &.fifty {
    > a,
    > img,
    figcaption {
      width: 100%;
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }
  }

  &.sixty {
    > a,
    > img {
      width: 100%;
      @include breakpoint($small) {
        width: calc(60% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
      @include breakpoint($small) {
        width: calc(40% - 0.5em);
      }
    }
  }

  &.seventy {
    > a,
    > img,
    figcaption {
      width: 100%;
      @include breakpoint($small) {
        width: calc(70% - 0.5em);
      }
    }
  }

  &.eighty {
    > a,
    > img,
    figcaption {
      width: 100%;
      @include breakpoint($small) {
        width: calc(80% - 0.5em);
      }
    }
  }

  &.ninety {
    > a,
    > img,
    figcaption {
      width: 100%;
      @include breakpoint($small) {
        width: calc(90% - 0.5em);
      }
    }
  }
}


