---
layout: archive
---





<section id="{{ page.title | slugify | downcase }}" class="taxonomy__section">
  <h2 class="archive__subtitle">{{ page.taxonomy-header}} "{{ page.title }}"</h2>
  <div class="entries-{{ entries_layout }}">
    {% assign manual_in_tax = site.manual | where_exp: "manual","manual[page.collection] contains page.title" %}
    {% for post in manual_in_tax %}
      {% include archive-single.html type=entries_layout %}
    {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>













